@value Main, MainGrey, LightGrey, MainOrange from '../../common/colors.css';
@value wrapPadding, sectionTopBottom, MediaLaptop, MediaPad, MediaMobile, FontSmall, FontRegular, FontMedium , Title from '../../common/size.css';

.project {
    padding: sectionTopBottom wrapPadding;
}

.index {
    font-size: Title;
    font-weight: 500;
    color: MainGrey;
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 55rem;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
    margin-bottom: 5rem;
}

.canvas {
    background: url('../../static/images/test.jpg') no-repeat center center;
    overflow: hidden;
    flex: 1 1 60%;
    width: 100%;
    height: 100%;
}

.text {
    overflow: hidden;
    flex: 1 1 40%;
    padding: 0 5rem;
}

.number {
    font-size: 3rem;
    margin-bottom: 10rem;
}

.title {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.introduce {
    font-size: FontRegular;
    margin-bottom: 1rem;
}

.tecbox {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.tec {
    margin-right: 0.5rem;
}

.linkbox {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    background-color: MainGrey;
    padding: 1rem 1.5rem;
    margin: 2rem 1rem 0 0;
}

.link:hover {
    opacity: .9;
}

.icon {
    width: FontMedium;
    margin-right: 0.5rem;
}

.path {
    position: relative;
    font-size: FontSmall;
    font-weight: 300;
    color: #fff;
}

@media screen and (max-width: MediaLaptop) {
    .canvas {
        flex: 1 1 55%;
    }
    
    .text {
        flex: 1 1 45%;
    }
}

@media screen and (max-width: MediaPad) {
    .project {
        padding: sectionTopBottom 5rem;
    }
    
    .item {
        flex-direction: column;
        height: 90rem;
    }
    
    .canvas {
        flex: 1 1 55%;
    }
    
    .text {
        flex: 1 1 45%;
        padding: 5rem;
    }
    
    .number {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: MediaMobile) {
    .project {
        padding: calc(sectionTopBottom / 2) 2rem;
    }

    .item {
        flex-direction: column;
        height: 65rem;
    }

    .index {
        font-size: calc(Title / 2);
        margin-bottom: calc(Title / 2);
    }

    .canvas {
        flex: 1 1 50%;
    }
    
    .text {
        flex: 1 1 50%;
        padding: 3rem 2rem;
    }
    
    .number {
        font-size: FontRegular;
        margin-bottom: 0.5rem;
    }
    
    .title {
        font-size: FontMedium;
        margin-bottom: 2rem;
    }
    
    .introduce {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }
    
    .tecbox {
        font-size: FontSmall;
    }
    
    .link {
        padding: 1rem 1.5rem;
    }
}
