@value Main, MainGrey, LightGrey, MainOrange from '../../common/colors.css';
@value wrapPadding, sectionTopBottom, MediaLaptop, MediaPad, MediaMobile, FontSmall, FontRegular, FontMedium , Title from '../../common/size.css';

.project {
    padding: sectionTopBottom wrapPadding;
}

.index {
    font-size: Title;
    font-weight: 500;
    color: MainGrey;
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
}
