@value Main, MainGrey, LigthGrey, MainOrange from '../../common/colors.css';
@value wrapPadding, sectionTopBottom, sectionMediaPad, sectionMediaPhone, mainText, ResponsiveBg, Notebook, Phone from '../../common/size.css';

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: sectionTopBottom wrapPadding;
}

.text {
    width: 65rem;
}

.name {
    font-size: 1.6rem;
    color: MainOrange;
    letter-spacing: -1px;
    text-indent: mainText;
}

.position {
    font-size: 10rem;
    font-weight: 400;
    color: MainGrey;
    letter-spacing: -0.5rem;
    line-height: 9rem;
    margin-bottom: 3rem;
}

.introduce {
    padding-left: mainText;
    font-size: 1.8rem;
    line-height: 1.5;
    color: LigthGrey;
    margin-bottom: 3rem;
}

.button {
    user-select: none;
    font-size: 1.6rem;
    background-color: MainOrange;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    margin-left: mainText;
    color: #fff;
    transition: all .3s ease-in;
}

.button:hover {
    cursor: pointer;
    opacity: .8;
}

.img {
    width: 65rem;
    height: 65rem;
    background: url('../../static/images/main_bg11.svg') no-repeat center;
}

@media screen and (max-width: Notebook) {
    .main {
        padding: sectionMediaPad 0;
        flex-direction: column-reverse;
        text-align: center;
    }

    .img {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: Phone) {
    .main {
        padding: sectionMediaPhone 0;
    }
    
    .text {
        width: 35rem;
    }
    
    .name {
        font-size: 1.2rem;
        color: Button;
        letter-spacing: -1px;
        text-indent: mainText;
    }
    
    .position {
        font-size: 3.5rem;
        letter-spacing: -0.3rem;
        line-height: 4rem;
        margin-bottom: 1rem;
    }
    
    .introduce {
        padding-left: mainText;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 0 2rem;
    }
    
    .button {
        font-size: 1.2rem;
    }
    
    .img {
        width: ResponsiveBg;
        height: ResponsiveBg;
    }
}






