@value Main, Grey, ligthGrey, lightPink from '../../common/colors.css';
@value Title, wrapPadding, sectionTopBottom from '../../common/size.css';

.about {
    padding: sectionTopBottom wrapPadding;
}

.index {
    font-family: 'montserrat';
    font-size: Title;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 30rem;
    height: 30rem;
    border: 1px solid #F6EBFF;
    border-radius: 0 2.5rem 0 2.5rem;
    box-shadow: 21px 21px 0px -12px rgba(255,146,112,0.63);
    -webkit-box-shadow: 21px 21px 0px -12px rgba(255,146,112,0.63);
    -moz-box-shadow: 21px 21px 0px -12px rgba(255,146,112,0.63); 
}

.icon {
    width: 10rem;
    margin-bottom: 3rem;
}

.title {
    font-family: 'montserrat';
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content {
    color: ligthGrey; 
}

.subtitle {
    font-family: 'montserrat';
    font-size: 1.8rem;
}

.subtitle img {
    width: 2rem;
    margin-right: 0.5rem;
}

.text {
    font-size: 1.3rem;
}

/* .about_subtitle::before {
    display: block;
    content: '';
    position: absolute;
    background: url('../images/about_subtitle01.svg') no-repeat center center;
    background-size: contain;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
  } */

