@value Main, MainGrey, LightGrey, MainOrange from '../../common/colors.css';
@value wrapPadding, sectionTopBottom, MediaLaptop, MediaPad, MediaMobile, FontSmall, FontRegular, FontMedium , Title from '../../common/size.css';

.about {
    padding: sectionTopBottom wrapPadding;
}

.index {
    font-size: Title;
    font-weight: 500;
    color: MainGrey;
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 40%;
}

.img {
    width: 45rem;
    height: 45rem;
}

.info {
    display: flex;
    font-size: FontRegular;
}

.itembox {
    line-height: 2.5;
}

.item {
    display: flex;
    align-items: center;
}

.icon {
    font-size: FontMedium;
    color: Main;
    margin-right: 1.5rem;
}

.infotext {
    font-weight: 300;
    line-height: 2.5;
    margin-left: 6rem;
}

.history {
    padding: 0 15rem;
    display: flex;
    flex: 1 1 60%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    margin-bottom: 5rem;
}

.mb0 {
    margin-bottom: 0!important;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.icon2 {
    width: 4rem;
    margin-right: FontMedium;
}

.detail {
    position: relative;
    font-size: FontRegular;
    padding-left: 5rem;
    margin-bottom: 3rem;
}

.detail::before {
    display: block;
    content: '';
    position: absolute;
    top: 1.9rem;
    left: 0;
    width: 0.1rem;
    height: 6rem;
    background-color: MainOrange;
}

.detail::after {
    display: block;
    content: '';
    position: absolute;
    top: 0.3rem;
    left: -0.7rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid MainOrange;
    background-color: MainOrange;
    background-clip: content-box;
    padding: 0.FontMedium;
}

.detail li:nth-child(1) {
    font-size: 1.6rem;
    font-weight: 600;
    color: MainGrey;
    margin-bottom: 0.5rem;
}
.detail li:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 600;
    color: LightGrey;
    margin-bottom: 1.4rem;
}
.detail li:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 500;
    color: MainOrange;
}

@media screen and (max-width: MediaLaptop) {
    .profile {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: MediaPad) {
    .about {
        padding: calc(sectionTopBottom / 2) wrapPadding;
    }

}

@media screen and (max-width: MediaMobile) {
    .about {
        padding: calc(sectionTopBottom / 2) 5rem;
    }

    .history {
        width: 100%;
    }
    
    .index {
        font-size: calc(Title / 2);
        margin-bottom: calc(Title / 2);
    }
    
    .img {
        width: calc(45rem / 1.5);
        height: calc(45rem / 1.5);
        margin-bottom: 2rem;
    }
    
    .info {
        font-size: 1.4rem;
    }
    
    .icon {
        font-size: FontRegular;
    }
    
    .history {
        padding: 0;
    }

    .content {
        margin-bottom: FontMedium;
        width: 100%;
        text-align: center;
    }
    
    .title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: FontMedium;
    }
    
    .icon2 {
        width: 2.5rem;
        margin-right: 1rem;
    }
    
    .detail {
        position: relative;
        font-size: FontRegular;
        padding-left: 0;
    }

    .detail::before {
        display: none;
    }
    
    .detail::after {
        display: none;
    }
    
    .detail li:nth-child(1) {
        font-size: FontRegular;
        margin-bottom: 0.3rem;
    }
    .detail li:nth-child(2) {
        font-size: FontSmall;
        margin-bottom: FontSmall;
    }
    .detail li:nth-child(3) {
        font-size: FontSmall;
    }
}

