@value Main, LightMain, MainGrey, LigthGrey, MainOrange, MainBlue from '../../common/colors.css';
@value Title, TitleMedia, wrapPadding, sectionTopBottom, sectionMediaPad, sectionMediaPhone, mainText, Notebook, Pad, Phone, ResponsiveBg, ResponsivePaddingBottom from '../../common/size.css';

.about {
    padding: sectionTopBottom wrapPadding;
}

.index {
    font-size: Title;
    font-weight: 500;
    color: MainGrey;
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 40%;
}

.img {
    width: 50rem;
    height: 50rem;
}

.info {
    display: flex;
    font-size: 1.6rem;
}

.itembox {
    line-height: 2.3;
}

.item {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: Main;
    margin-right: 1.5rem;
}

.infotext {
    font-weight: 300;
    line-height: 2.3;
    margin-left: 5rem;
}

.history {
    padding: 0 15rem;
    display: flex;
    flex: 1 1 60%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    margin-bottom: 5rem;
}

.mb0 {
    margin-bottom: 0!important;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.icon2 {
    width: 4rem;
    margin-right: 2rem;
}

.detail {
    position: relative;
    font-size: 1.6rem;
    /* border-left: 1px solid About; */
    padding-left: 5rem;
    margin-bottom: 3rem;
}

.detail::before {
    display: block;
    content: '';
    position: absolute;
    top: 1.9rem;
    left: 0;
    width: 0.1rem;
    height: 6rem;
    background-color: MainOrange;
}

.detail::after {
    display: block;
    content: '';
    position: absolute;
    top: 0.3rem;
    left: -0.7rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid MainOrange;
    background-color: MainOrange;
    background-clip: content-box;
    padding: 0.2rem;
}

.detail li:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 600;
    color: MainGrey;
    margin-bottom: 0.5rem;
}
.detail li:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 600;
    color: LigthGrey;
    margin-bottom: 1.4rem;
}
.detail li:nth-child(3) {
    font-size: 1.3rem;
    font-weight: 500;
    color: MainOrange;
}

@media screen and (max-width: Notebook) {
    .profile {
        margin-bottom: ResponsivePaddingBottom;
    }
    
    .history {
        padding: 0 15rem;
        display: flex;
        flex: 1 1 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .content {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: Pad) {
    .about {
        padding: sectionMediaPad wrapPadding;
    }
    
    .history {
        padding: 0 8rem;
    }
}

@media screen and (max-width: Phone) {
    .about {
        padding: sectionMediaPhone 5rem;
    }

    .history {
        width: 100%;
    }
    
    .index {
        font-size: TitleMedia;
        font-weight: 500;
        text-align: center;
        margin-bottom: TitleMedia;
    }
    
    .img {
        width: ResponsiveBg;
        height: ResponsiveBg;
        margin-bottom: 3rem;
    }
    
    .info {
        font-size: 1.4rem;
    }
    
    .icon {
        font-size: 1.6rem;
    }
    
    .history {
        margin-top: -5rem;
        padding: 0;
    }

    .content {
        margin-bottom: 2rem;
        width: 100%;
        text-align: center;
    }
    
    .title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    
    .icon2 {
        width: 2.5rem;
        margin-right: 1rem;
    }
    
    .detail {
        position: relative;
        font-size: 1.6rem;
        padding-left: 0;
    }

    .detail::before {
        display: none;
    }
    
    .detail::after {
        display: none;
    }
    
    .detail li:nth-child(1) {
        font-size: 1.6rem;
        margin-bottom: 0.3rem;
    }
    .detail li:nth-child(2) {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }
    .detail li:nth-child(3) {
        font-size: 1.2rem;
    }
}

