@value Main, MainGrey, LigthGrey, lightPink from '../../common/colors.css';
@value Title, wrapPadding, sectionTopBottom, Phone from '../../common/size.css';

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: MainGrey;
    position: fixed;
    transform: translate(-50%, -50%);
    top: calc(50% - 8rem);
    left: 2.5%;
}

.link li {
    margin-bottom: 0.5rem;
    transition: .1s all ease-in;
}

.link li:hover {
    cursor: pointer;
    color: Main;
}

@media screen and (max-width: Phone) {
    .link {
       display: none;
    }
}