@value Main, MainGrey, LightGrey from '../../common/colors.css';
@value  MediaMobile, FontMedium from '../../common/size.css';

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: FontMedium;
    color: MainGrey;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 2.5%;
    z-index: 10;
}

.link li {
    margin-bottom: 1rem;
    transition: .1s all ease-in;
}

.link li:hover {
    cursor: pointer;
    color: Main;
}

@media screen and (max-width: MediaMobile) {
    .link {
       display: none;
    }
}