@value Main, MainGrey, LightGrey, MainOrange from '../../common/colors.css';
@value wrapPadding, sectionTopBottom, MediaLaptop, MediaPad, MediaMobile, FontSmall, FontRegular, FontMedium , Title from '../../common/size.css';

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    background: #222;
}

.index {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 5rem;
}

.text {
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.ref {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.ref a {
    margin-left: 1rem;
}

img {
    width: 6.5rem;
}

.box {
    border-top: 1px solid rgba(255, 255, 255, 0.096);
    padding-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 1.2rem;
    color: LigthGrey;
}

.link {
    display: flex;
    font-size: 2rem;
}

.link li {
    color: LightGrey;
    margin-right: 1.2rem;
    transition: all 0.5s;
}

.link li:hover {
    opacity: .5;
}
