@value Main, MainGrey, Grey, ligthGrey, lightPink, Button from '../../common/colors.css';
@value Title, wrapPadding, sectionTopBottom from '../../common/size.css';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    font-size: 1.5rem;
    color: MainGrey;
}

.copyright {
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.ref {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 0.5rem;
}

img {
    width: 8rem;
}