@value Main, MainGrey, LightGrey, MainOrange from '../../common/colors.css';
@value wrapPadding, sectionTopBottom, MediaLaptop, MediaPad, MediaMobile, FontSmall, FontRegular, FontMedium , Title from '../../common/size.css';

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    background: #222;
}

.index {
    font-size: Title;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 5rem;
}

.text {
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.ref {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.ref a {
    margin-left: 1rem;
}

img {
    width: 6.5rem;
}

.box {
    border-top: 1px solid rgba(255, 255, 255, 0.096);
    padding-top: 1.5rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 1.2rem;
    color: LigthGrey;
}

.link {
    display: flex;
    font-size: 2rem;
}

.link li {
    color: LightGrey;
    margin-right: 1.2rem;
    transition: all 0.5s;
}

.link li:hover {
    opacity: .5;
}

@media screen and (max-width: MediaMobile) {
    .footer {
        padding: calc(sectionTopBottom / 2) 2rem;
    }

    .index {
        font-size: calc(Title / 2);
        margin-bottom: calc(Title / 2);
    }

    .text {
        font-size: 1rem;
    }

    .ref {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    .ref span {
        font-size: 1.2rem;
    }
    
    .ref a {
        margin-left: 1rem;
    }
    
    img {
        width: 5rem;
    }

    .box {
        padding-top: 3.5rem;
        width: 100%;
        flex-direction: column;
    }
    
    .copyright {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .link {
        font-size: 1.8rem;
    }
}
