@value Main, LigthGrey, ligthGrey, MainOrange from '../../common/colors.css';
@value Title, TitleMedia, wrapPadding, sectionTopBottom, sectionMediaPad, sectionMediaPhone, Pad, Phone from '../../common/size.css';

.tech {
    padding: sectionTopBottom wrapPadding;
}

.index {
    font-size: Title;
    font-weight: 500;
    color: MainGrey;
    text-align: center;
    margin-bottom: 5rem;
}

.sub {
    font-size: 2.5rem;
    text-align: center;
    color: LigthGrey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mb {
    margin-bottom: 2.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem 2rem 0;
    width: 20rem;
    height: 18rem;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.item:hover {
    transform: scale(1.02);
    transition: 0.1s all ease-in;
}

.icon {
    width: 9rem;
    height: 9rem;
    margin-bottom: 1.5rem;
}

.img {
    width: 100%;
    height: 100%;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
}

@media screen and (max-width: Pad) {
    .tech {
        padding: sectionMediaPad wrapPadding;
    }
}

@media screen and (max-width: Phone) {
    .tech {
        padding: sectionMediaPhone 5rem;
    }

    .index {
        font-size: TitleMedia;
        font-weight: 500;
        text-align: center;
        margin-bottom: TitleMedia;
    }

    .sub {
        font-size: 1.8rem;
    }

    .item {
        margin: 1.8rem 0;
    }
}