@value Main, MainGrey, LightGrey, MainOrange from '../../common/colors.css';
@value wrapPadding, sectionTopBottom, MediaLaptop, MediaPad, MediaMobile, FontSmall, FontRegular, FontMedium , Title from '../../common/size.css';

.tech {
    position: relative;
    padding: sectionTopBottom wrapPadding;
}

.index {
    font-size: Title;
    font-weight: 500;
    color: MainGrey;
    text-align: center;
    margin-bottom: 5rem;
}

.sub {
    font-size: 2.5rem;
    text-align: center;
    color: LightGrey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mb {
    margin-bottom: 2.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem 2rem 0;
    width: 20rem;
    height: 18rem;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.item:hover .icon {
    width: 9.5rem;
    height: 9.5rem;
    transition: 0.1s all ease-in;
}

.icon {
    width: 9rem;
    height: 9rem;
    margin-bottom: 1.5rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
}

@media screen and (max-width: MediaPad) {
    .tech {
        padding: calc(sectionTopBottom / 2) wrapPadding;
    }
}

@media screen and (max-width: MediaMobile) {
    .tech {
        padding: calc(sectionTopBottom / 2) 5rem;
    }

    .index {
        font-size: calc(Title / 2);
        margin-bottom: calc(Title / 2);
    }

    .sub {
        font-size: FontRegular;
    }

    .item {
        margin: 1.2rem 0;
    }
}