@value Main, ligthGrey from './common/colors.css';
@value wrapPadding from './common/size.css';

/* test */

.wrap {
  position: relative;
  overflow: hidden;
  max-width: 192rem;
  padding-top: 8rem;
  margin: 0 auto;
}

.button {
  position: fixed;
  opacity: 0;
  bottom: 2rem;
  right: 2rem;
  color: ligthGrey;
  font-size: 4.5rem;
  transition: 0.2s all ease-in;
}

.button.active {
  opacity: 1;
}

.button:hover {
  transition: 0.2s all ease-in;
  cursor: pointer;
  color: Main;
}

.test {
  border: 1px solid #000; margin-right: 10px;
}
/* test */

