@value main from './common/colors.css';
@value wrapPadding from './common/size.css';

/* test */

.wrap {
  position: relative;
  overflow: hidden;
  max-width: 192rem;
  padding-top: 8rem;
  margin: 0 auto;
}

.button {
  position: fixed;
  opacity: 0;
  bottom: 1rem;
  right: 1rem;
  z-index: -10;
  padding: 1rem;
  background-color: main;
  box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in;
}

.button.active {
  opacity: 1;
  z-index: 10;
}

.button:hover {
  cursor: pointer;
  background-color: blue;
}

.home {padding: 1rem; border: 1px solid #000;}
.about {padding: 1rem; border: 1px solid #000;}
/* test */

