@value Main, MainGrey, LightGrey from './common/colors.css';
@value MediaMobile from './common/size.css';

/* test */
.wrap {
  position: relative;
  overflow: hidden;
  max-width: 192rem;
  padding-top: 8rem;
  margin: 0 auto;
}

.button {
  position: fixed;
  opacity: 0;
  bottom: 2rem;
  right: 2rem;
  color: LightGrey;
  font-size: 4.5rem;
  transition: 0.2s all ease-in;
}

.button.active {
  opacity: 1;
}

.button:hover {
  transition: 0.2s all ease-in;
  cursor: pointer;
  color: Main;
}

@media screen and (max-width: MediaMobile) {
  .button {
    bottom: 2rem;
    right: 2rem;
    color: LightGrey;
    font-size: 3.5rem;
    transition: 0.2s all ease-in;
  }
}

/* test */
